	html,body{
		font-family: 'Source Sans Pro', sans serif;
		height:100%;
		width:100%;
	} 
		#background{
			position:absolute;
			height:100%;
			width:100%;
			top:0;
			left:0;
		}
		input,select{
			margin:5px;
			padding:5px;
			border:1px solid #888;
			font-size:1em;
			font-family: 'Source Sans Pro', sans serif;
		}
		#title{
			background:#ffcc00;
			color: 	white;
			padding-top:.75em;
			font-size:3em;
			width:3em;
			height:2.25em;
			text-align:center;
			float:left;
		}
		form{
			float:left;
			padding-left:5%;
		}
			form span{
				padding-left:2px;
				font-size:2em;
			}
		
		.centerwrapper{
			width:80%;
			padding:10%;
			margin:0 auto;
			display:table;
		}
	
	.link {
		fill: none;
		stroke: #666;
		stroke-width: 1.5px;
	}

	#licensing {
		fill: green;
	}

	.link.licensing {
		stroke: green;
	}

	.link.resolved {
		stroke-dasharray: 0,2 1;
	}

	circle {
		fill: #ccc;
		stroke: #333;
		stroke-width: 1.5px;
	}

	text {
		font: 10px sans-serif;
		pointer-events: none;
		text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
	}